
.all_head {
display:flex;
align-items:center;
justify-content:space-evenly;
background-color:#ffffff;
position:fixed;
top:0;
left:0;
width:100%;
z-index:1000;
}

.logo{
height:100px;
}

.header_content1{
display:flex;
align-items:center;
gap:20px;
}

.header_text{
font-size:50px;
text-decoration:none;
color:black;
}

.header_content2{
display:flex;
align-items:center;
gap:20px;
font-size:25px;
}

.header_text2{
width:100px;
text-decoration:none;
font-size:25px;
color:black;
}

.header_text2:hover{
color:cadetblue;
font-size:30px;
}
